* {
	padding: 0;
	margin: 0;
}
body {
	background: #F5F5F5;
	color: #333;
	font-family: arial, sans-serif;
}
a {
	color: #6BF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
.hover {
	cursor: pointer;
}
#main {
	width: 800px;
	margin: 0 auto;
}

#heading {
	text-align: center;
	margin: 15px;
	font-size: 20px;
}

.message {
	width: 260px;
	margin: 0 auto;
	padding: 15px;
	background: #DDD;
}

form {
	width: 250px;
	margin: 0 auto;
}
input, select {
	margin: 10px 0;
}
input[type=submit] {
	width: 50px;
	padding: 2px 4px;
	margin-left: 100px;
}
